<!DOCTYPE HTML>
<!--
	Escape Velocity by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
	    <title>Lobby</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header -->
			<div id="header-wrapper" class="wrapper">
				<div id="header">
					
					<!-- Logo -->
						<div id="logo">
							<h1>THE LOBBY<h1>
							<p>GRAVEYARD OF SHIPS</p>
						</div>
					
					<!-- Nav -->
				    <% include nav_bar %>

				</div>
			</div>
		
		<!-- Main -->
			<div class="wrapper style2">
				<div class="title">THE GAMES</div>
				<div id="main" class="container">
							
					<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<h2>Lorem ipsum dolor sit amet magna egestas<br class="mobile-hide" />
									morbi bibendum sed malesuada</h2>
									<p>Tempus feugiat veroeros sed nullam dolore</p>
								</header>
								<a href="#" class="image featured">
									<img src="images/pic01.jpg" alt="" />
								</a>
							</article>
							<div class="row oneandhalf">
								<div class="4u">
									<section class="box">
										<header>
											<h2>Magna pulvinar tempus</h2>
										</header>
										<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
										<p>Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus 
										eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis 
										tempus.</p>
										<a href="#" class="button style1">More</a>
									</section>
								</div>
								<div class="4u">
									<section class="box">
										<header>
											<h2>Magna pulvinar tempus</h2>
										</header>
										<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
										<p>Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus 
										eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis 
										tempus.</p>
										<a href="#" class="button style1">More</a>
									</section>
								</div>
								<div class="4u">
									<section class="box">
										<header>
											<h2>Magna pulvinar tempus</h2>
										</header>
										<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
										<p>Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus 
										eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis 
										tempus.</p>
										<a href="#" class="button style1">More</a>
									</section>
								</div>
							</div>
						</div>

				</div>
			</div>

		<!-- Highlights -->
		<% include highlights %>
		
		<!-- Footer -->
        <% include footer %>			

	</body>
</html>